<body>
<br>
<br>

<!--  BEGIN BLOG ROLL HERE -->

<!--  BLOG ENTRY BREAK -->

		<div class="jumbotron">
			<center>
			<h2>January 25, 2014</h2>
			</center>
			<br>
				<ul>
					<li>15 Minutes to establish a 2RM Front Squat</li>
				</ul>
					[155 lbs x 2 max]
				<br>
				<br>
				<ul>
					<li>7:00 of Burpees (as many as possible)</li>
				</ul>	
				[89 Burpees @ 6" Target]			
		</div>
		<br>

<!--  BLOG ENTRY BREAK -->

		<div class="jumbotron">
			<center>
			<h2>January 22, 2014</h2>
			</center>
			<br>
				<ul>
					<li>15 Minutes to establish a 10RM Benchpress</li>
				</ul>
					[125 lbs x 10 max]
				<br>
				<br>
				3 Rounds:
				<ul>
					<li>10 Seated Band Muscle Ups</li>
					<li>10 V Sit Hip Extensions</li>
					<li>10 Arch Swings on Rings</li>
				</ul>	
				Note: This is untimed, and meant to work on building up to muscle ups.	
		</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 21, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 2RM Power Snatch as a Cluster</li>
			</ul>
				[105 lbs x 2 max]
			<br>
			<br>
			5 Rounds:
			<ul>
				<li>30 Kettlebell Swings</li>
				<li>15 Wall Balls</li>
				<li>7 Power Snatches</li>
			</ul>	
			[35:00 total time; 16 kg Kettlebell; 14 lb Wall Ball; 75 lb Power Snatch]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 17, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 2RM Power Clean as a Cluster</li>
			</ul>
				[125 lbs x 2 max]
			<br>
			<br>
			<ul>
				<li>100 Burpees</li>
				<li>5 Strict Pull Ups every 2:00 (beginning at 0:00)</li>
			</ul>	
			[9:48 total time; Band used for Pull Ups]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 15, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 2RM Benchpress</li>
			</ul>
				[150 lbs x 2 max]
			<br>
			<br>
				"Diane"
			<ul>
				<li>21 Deadlifts</li>
				<li>21 Handstand Push Ups</li>
				<li>15 Deadlifts</li>
				<li>15 Handstand Push Ups</li>
				<li>9 Deadlifts</li>
				<li>9 Handstand Pushups</li>
			</ul>	
			[5:30 total time; 115 lbs deadlift; 20" box push ups]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 13, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 2RM High Bar Back Squat</li>
				<li>Drop set x 2 at 95% of max</li>
				<li>Drop set x 2 at 90% of max</li>
			</ul>
				[175 lbs x 2 max; 155 lbs x 2; 135 lbs x 2]
			<br>
			<br>
				10 Minutes to complete as many rounds as possible:
			<ul>
				<li>10 Shoulders to Overhead</li>
				<li>20 Toes-to-bar</li>
				<li>50 Double Unders</li>
			</ul>	
			[2 Rounds Completed; 95 lb Shoulder to Overhead]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 10, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 2RM Power Snatch as a Cluster</li>
			</ul>
				[95 lbs x 2 max]
			<br>
			<br>
			<ul>
				<li>25 Wall Balls</li>
				<ul>
					<li>Rest 2:1
				</ul>		
				<li>15 Wall Balls</li>
				<ul>
					<li>Rest 2:1
				</ul>
				<li>50 Burpees</li>
				<ul>
					<li>No Rest
				</ul>
				<li>15 Wall Balls</li>
								<ul>
					<li>Rest 2:1
				</ul>
				<li>25 Wall Balls</li>
			</ul>	
			[14:11]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>January 9, 2014</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 3 Rep Max (3RM) Benchpress</li>
			</ul>
				[145 lbs x 3 max]
			<br>
			<br>
			3 sets:
			<ul>
				<li>10 Push Presses</li>
				<li>15 20" Lateral Box Jumps</li>
				<li>10 Pull Ups</li>					
			</ul>	
			[15:15; 75 lb Push Press]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>December 28, 2013</h2>
		</center>
		<br>
			<ul>
				<li>20 Minutes to establish a 3 Rep Max (3RM) Front Squat</li>
			</ul>
				[135 lbs x 3 max]
			<br>
			<br>
			4 sets:
			<ul>
				<li>20 Burpees</li>
				<li>15 Thrusters</li>					
			</ul>	
			[26:50; 3 sets completed; 65 lb Thrusters]
	</div>
	<br>

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>December 27, 2013</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 5 Rep Max (5RM) Push Press</li>
			</ul>
				[95 lbs x 5 max]
			<br>
			<br>
			<ul>
				<li>800 Meter Run</li>
				<li>15 Ring Dips</li>
				<li>15 Kettlebell Swings</li>
				<li>400 Meter Run</li>
				<li>20 Ring Dips</li>
				<li>20 Kettlebell Swings</li>
				<li>200 Meter Run</li>
				<li>25 Ring Dips</li>
				<li>25 Kettlebell Swings</li>					
			</ul>	
			[20:07; ring dips w/ band; 12 kg kettlebell]
	</div>
	<br>	

<!--  BLOG ENTRY BREAK -->

	<div class="jumbotron">
		<center>
		<h2>December 23, 2013</h2>
		</center>
		<br>
			<ul>
				<li>15 Minutes to establish a 3 Rep Max (3RM) High Bar Back Squat</li>
				<li>Drop set x 3 at 95% of max</li>
				<li>Drop set x 3 at 90% of max</li>	
			</ul>
				[135 lbs x 3 max]
			<br>
			<br>
				"Framanda"
			<ul>
				<li>21 Thrusters</li>
				<li>9 Muscle Ups</li>
				<li>15 Thrusters</li>
				<li>7 Muscle Ups</li>
				<li>9 Thrusters</li>
				<li>5 Muscle Ups</li>	
			</ul>	
			[15:40; did not fully complete]
	</div>	


<!--  END BLOG ROLL -->
<br>
<br>
</body>	