<body>
<br>
<br>
<br>
	<div class="jumbotron">
		<h2>About Me.</h2>
		<br>
			Professional Engineer   
			<br>
			Certified Building Commissioning Professional  
			<br>
			Project Development Engineer  
		<br>
	</div>

<!--  Commented Out because I have pages for this crap.
	<br>
	<br>

	<div class="jumbotron">
		<h2>Health Nut.</h2>
		<br>
		Primal Eater&nbsp&nbsp|&nbsp&nbspCrossFitter&nbsp&nbsp|&nbsp&nbspBiker
		<br>
	</div>

	<br>
	<br>

	<div class="jumbotron">
		<h2>Web Developer.</h2>
		<br>
		HTML&nbsp&nbsp|&nbsp&nbspCSS&nbsp&nbsp|&nbsp&nbspRuby on Rails
		<br>
	</div>	
-->
</body>
